<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    Mr. Frank L看过的影视(65)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=movie" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.js" defer="defer"></script>




    


    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >选剧集</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2025/?fullscreen=1&dt_from=movie_navigation"
     >2025年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2025/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&df_from=web_navigation"
            target="_blank"
     >2025年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2025/?fullscreen=1&source=movie_navigation_logo" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/movie/bundle.js" defer="defer"></script>




    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/211396864/">
                <img height="48" width="48" alt="Mr. Frank L" src="https://img2.doubanio.com/icon/u211396864-1.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>Mr. Frank L看过的影视(65)</h1>
            <ul>
                    
        <li><a href="/people/211396864/">电影主页</a></li>
    
                    
        <li><a href="/people/211396864/reviews">影评</a></li>
    
                    
        <li><a href="/people/211396864/question">问答</a></li>
    
                    
        <li><a href="/people/211396864/do">在看</a></li>
    
                    
        <li><a href="/people/211396864/wish">想看</a></li>
    
                    
        <li><a href="/people/211396864/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/subject_doulists/movie">片单</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
            按时间排序<span class="gray-dot">·</span><a href="/people/211396864/collect?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="/people/211396864/collect?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                31-45&nbsp;/&nbsp;65
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/211396864/collect?sort=time&amp;amp;start=30&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="3035439396" >
            <div class="pic">
                <a title="武林外传" href="https://movie.douban.com/subject/3882715/" class="nbg">
                    <img alt="武林外传" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2529669661.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3882715/">
                            <em>武林外传</em>
                             / My Own Swordsman
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-01-02(中国大陆) / 闫妮 / 姚晨 / 沙溢 / 喻恩泰 / 姜超 / 倪虹洁 / 王莎莎 / 范明 / 肖剑 / 于娟 / 中国大陆 / 尚敬 / 48分钟 / 喜剧 / 武侠 / 古装 / 宁财神 Caishen Ning / 汉语普通话 / 英语 / 粤语 / 上海话 / 陕西话 / 南京话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439370" >
            <div class="pic">
                <a title="拆弹专家2" href="https://movie.douban.com/subject/30171424/" class="nbg">
                    <img alt="拆弹专家2" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2930847787.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30171424/">
                            <em>拆弹专家2</em>
                             / Shock Wave 2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-12-24(中国大陆) / 2021-02-18(中国香港) / 2026-03-28(中国大陆重映) / 刘德华 / 刘青云 / 倪妮 / 谢君豪 / 姜皓文 / 吴卓羲 / 马浴柯 / 黄德斌 / 郑子诚 / 洪天明 / 中国大陆 / 中国香港 / 邱礼涛 / 121分钟 / 动作 / 犯罪 / 邱礼涛 Herman Yau / 李敏 Erica Lee / 李昇 Eric Lee / 汉语普通话 / 粤语 / 英语</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439345" >
            <div class="pic">
                <a title="受益人" href="https://movie.douban.com/subject/30299311/" class="nbg">
                    <img alt="受益人" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2572429001.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30299311/">
                            <em>受益人</em>
                             / My Dear Liar
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-11-08(中国大陆) / 大鹏 / 柳岩 / 张子贤 / 张邵勃 / 刘刚 / 龙洁 / 李欧 / 陈卫 / 彭波 / 李小辉 / 中国大陆 / 申奥 / 112分钟 / 剧情 / 喜剧 / 爱情 / 申奥 Ao Shen / 许渌洋 Luyang Xu / 王燕秋 Yanqiu Wang / 汉语普通话 / 重庆话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439314" >
            <div class="pic">
                <a title="两只老虎" href="https://movie.douban.com/subject/30196805/" class="nbg">
                    <img alt="两只老虎" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2574713609.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30196805/">
                            <em>两只老虎</em>
                             / Two Tigers
                        </a>
                    </li>
                        <li class="intro">2019-11-29(中国大陆) / 葛优 / 乔杉 / 范伟 / 闫妮 / 潘斌龙 / 王森 / 田雨 / 胡浩亮 / 姜国钧 / 中国大陆 / 李非 / 96分钟 / 剧情 / 喜剧 / 李非 Fei Li / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439282" >
            <div class="pic">
                <a title="革命者" href="https://movie.douban.com/subject/35288767/" class="nbg">
                    <img alt="革命者" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2666303410.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35288767/">
                            <em>革命者</em>
                             / The Pioneer
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-07-01(中国大陆) / 张颂文 / 李易峰 / 佟丽娅 / 成泰燊 / 彭昱畅 / 李九霄 / 韩庚 / 梁静 / 马少骅 / 白客 / 中国大陆 / 徐展雄 / 121分钟 / 剧情 / 历史 / 管虎 Hu Guan / 吴兵 Bing Wu / 张珂 Ke Zhang / 京瑜 Jing Yu / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439248" >
            <div class="pic">
                <a title="人潮汹涌" href="https://movie.douban.com/subject/34880302/" class="nbg">
                    <img alt="人潮汹涌" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2632862664.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34880302/">
                            <em>人潮汹涌</em>
                             / End Game / Endgame
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-02-12(中国大陆) / 刘德华 / 肖央 / 万茜 / 程怡 / 黄小蕾 / 国义骞 / 狄志杰 / 郭京飞 / 刘天佐 / 路阳 / 中国大陆 / 中国香港 / 饶晓志 / 119分钟 / 喜剧 / 犯罪 / 饶晓志 Xiaozhi Rao / 范翔 Xiang Fan / 李想 / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439164" >
            <div class="pic">
                <a title="急先锋" href="https://movie.douban.com/subject/27195078/" class="nbg">
                    <img alt="急先锋" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2619027144.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27195078/">
                            <em>急先锋</em>
                             / 急先锋电影版 / Vanguard
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-09-30(中国大陆) / 成龙 / 杨洋 / 艾伦 / 徐若晗 / 母其弥雅 / 朱正廷 / 楼学贤 / 郭芷妍 / 埃亚德·胡拉尼 / 杨建平 / 中国大陆 / 唐季礼 / 108分钟 / 动作 / 唐季礼 Stanley Tong / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035439010" >
            <div class="pic">
                <a title="秘密访客" href="https://movie.douban.com/subject/30378158/" class="nbg">
                    <img alt="秘密访客" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2629408730.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30378158/">
                            <em>秘密访客</em>
                             / Home Sweet Home
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-05-01(中国大陆) / 郭富城 / 段奕宏 / 张子枫 / 许玮甯 / 荣梓杉 / 王圣迪 / 吕聿来 / 张柏嘉 / 孔雁 / 孙一诺 / 中国大陆 / 陈正道 / 111分钟 / 悬疑 / 惊悚 / 殳俏 / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438966" >
            <div class="pic">
                <a title="八佰" href="https://movie.douban.com/subject/26754233/" class="nbg">
                    <img alt="八佰" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2615925279.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26754233/">
                            <em>八佰</em>
                             / 八百启示录 / 战争启示录之八百壮士
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-08-14(大规模点映) / 2020-08-21(中国大陆) / 王千源 / 张译 / 姜武 / 黄志忠 / 张俊一 / 欧豪 / 杜淳 / 魏晨 / 张宥浩 / 唐艺昕 / 中国大陆 / 管虎 / 147分钟(公映版) / 160分钟(上海电影节) / 剧情 / 历史 / 战争 / 管虎 Hu Guan / 葛瑞 Rui Ge / 汉语普通话 / 日语 / 英语</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438947" >
            <div class="pic">
                <a title="鼠胆英雄" href="https://movie.douban.com/subject/27073057/" class="nbg">
                    <img alt="鼠胆英雄" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2564458983.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27073057/">
                            <em>鼠胆英雄</em>
                             / Coward Hero
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-06-16(上海电影节) / 2019-08-02(中国大陆) / 岳云鹏 / 佟丽娅 / 田雨 / 袁弘 / 韩童生 / 蔡明 / 刘威 / 于谦 / 大鹏 / 雷佳音 / 中国大陆 / 束焕 / 邵丹 / 106分钟 / 喜剧 / 束焕 Huan Shu / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438925" >
            <div class="pic">
                <a title="悬崖之上" href="https://movie.douban.com/subject/32493124/" class="nbg">
                    <img alt="悬崖之上" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2638045698.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/32493124/">
                            <em>悬崖之上</em>
                             / Impasse / Cliff Walkers
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-04-30(中国大陆) / 张译 / 于和伟 / 秦海璐 / 朱亚文 / 刘浩存 / 倪大红 / 李乃文 / 余皑磊 / 飞凡 / 雷佳音 / 中国大陆 / 中国香港 / 张艺谋 / 120分钟 / 剧情 / 动作 / 悬疑 / 全勇先 Yongxian Quan / 张艺谋 Yimou Zhang / 潘依然 Yiran Pan / 汉语普通话 / 英语 / 俄语</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438907" >
            <div class="pic">
                <a title="姜子牙" href="https://movie.douban.com/subject/25907124/" class="nbg">
                    <img alt="姜子牙" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2621219978.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25907124/">
                            <em>姜子牙</em>
                             / Legend of Deification
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-10-01(中国大陆) / 郑希 / 杨凝 / 图特哈蒙 / 阎么么 / 季冠霖 / 姜广涛 / 陈思宇 / 山新 / 刘明月 / 佟心竹 / 中国大陆 / 程腾 / 李炜 / 李夏 / 王昕 / 110分钟 / 剧情 / 动画 / 奇幻 / 谢茜颖 Qianying Xie / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438866" >
            <div class="pic">
                <a title="刺杀小说家" href="https://movie.douban.com/subject/26826330/" class="nbg">
                    <img alt="刺杀小说家" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2628440875.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26826330/">
                            <em>刺杀小说家</em>
                             / A Writer&#39;s Odyssey / Assassin in Red
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-02-12(中国大陆) / 雷佳音 / 杨幂 / 董子健 / 于和伟 / 郭京飞 / 佟丽娅 / 董洁 / 王圣迪 / 杨轶 / 刘天佐 / 中国大陆 / 路阳 / 130分钟 / 动作 / 奇幻 / 冒险 / 陈舒 Shu Chen / 禹扬 Yang Yu / 秦海燕 Haiyan Qin / 路阳 Yang Lu / 汉语普通话</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438708" >
            <div class="pic">
                <a title="夺冠" href="https://movie.douban.com/subject/30128916/" class="nbg">
                    <img alt="夺冠" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2620083313.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30128916/">
                            <em>夺冠</em>
                             / 中国女排 / Leap
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-09-25(中国大陆) / 巩俐 / 黄渤 / 吴刚 / 彭昱畅 / 白浪 / 朱婷 / 徐云丽 / 张常宁 / 姚迪 / 林莉 / 中国大陆 / 陈可辛 / 135分钟 / 剧情 / 运动 / 张冀 Ji Zhang / 汉语普通话 / 英语 / 日语 / 葡萄牙语</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3035438678" >
            <div class="pic">
                <a title="误杀" href="https://movie.douban.com/subject/30176393/" class="nbg">
                    <img alt="误杀" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2614628862.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30176393/">
                            <em>误杀</em>
                             / 误杀瞒天记中国版 / Sheep Without a Shepherd
                        </a>
                    </li>
                        <li class="intro">2019-12-07(大规模点映) / 2019-12-13(中国大陆) / 2020-07-20(中国大陆重映) / 肖央 / 谭卓 / 陈冲 / 姜皓文 / 秦沛 / 边天扬 / 许文姗 / 张熙然 / 施名帅 / 黄健玮 / 中国大陆 / 柯汶利 / 112分钟 / 剧情 / 犯罪 / 悬疑 / 杨薇薇 Weiwei Yang / 翟培 / 李鹏 / 范凯华 / 秦语谦 / 雷声 Sheng Lei / 汉语普通话 / 泰语</li>
                    <li>
                        <span class="date">2021-09-13</span>

                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/211396864/collect?start=0&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >1</a>
        
                
            <a href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >2</a>
        
                <span class="thispage" data-total-page="5">3</span>
                
            <a href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >4</a>
        
                
            <a href="/people/211396864/collect?start=60&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >5</a>
        
        <span class="next">
            <link rel="next" href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/211396864/" class="side-info-avatar"><img height="48" width="48" alt="Mr. Frank L" src="https://img2.doubanio.com/icon/u211396864-1.jpg" /></a>
    <div class="side-info-txt">
        <h3>Mr. Frank L</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/211396864/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/211396864/">Mr. Frank L的电影主页</a>
        </p>
    </div>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2026 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
        
        
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.b2f60.css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <script type="text/javascript">
        var HTTPS_DB = "https://www.douban.com"
    </script>
    <script type="text/javascript" src="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.89db9.js"></script>

    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5dfbb6d6f7-c4xgc-->

  <script>_SPLITTEST=''</script>
</body>

</html>


