<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    Mr. Frank L看过的影视(65)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=movie" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.js" defer="defer"></script>




    


    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >选剧集</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2025/?fullscreen=1&dt_from=movie_navigation"
     >2025年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2025/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&df_from=web_navigation"
            target="_blank"
     >2025年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2025/?fullscreen=1&source=movie_navigation_logo" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/movie/bundle.js" defer="defer"></script>




    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/211396864/">
                <img height="48" width="48" alt="Mr. Frank L" src="https://img2.doubanio.com/icon/u211396864-1.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>Mr. Frank L看过的影视(65)</h1>
            <ul>
                    
        <li><a href="/people/211396864/">电影主页</a></li>
    
                    
        <li><a href="/people/211396864/reviews">影评</a></li>
    
                    
        <li><a href="/people/211396864/question">问答</a></li>
    
                    
        <li><a href="/people/211396864/do">在看</a></li>
    
                    
        <li><a href="/people/211396864/wish">想看</a></li>
    
                    
        <li><a href="/people/211396864/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/subject_doulists/movie">片单</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
            按时间排序<span class="gray-dot">·</span><a href="/people/211396864/collect?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="/people/211396864/collect?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                1-15&nbsp;/&nbsp;65
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/211396864/collect?sort=time&amp;amp;start=0&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="4789617257" >
            <div class="pic">
                <a title="The Covenant" href="https://movie.douban.com/subject/35722688/" class="nbg">
                    <img alt="The Covenant" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2887388117.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35722688/">
                            <em>盟约 / The Covenant</em>
                             / 译战同盟(港) / 绝地营救(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-04-21(美国) / 杰克·吉伦哈尔 / 达尔·萨利姆 / 肖恩·萨加尔 / 杰森·王 / 里斯·耶茨 / 克里斯蒂安·奥乔亚·拉维尼亚 / 鲍比·斯科菲尔德 / 艾米丽·比查姆 / 约翰尼·李·米勒 / 亚历山大·路德韦格 / 英国 / 西班牙 / 美国 / 盖·里奇 / 123分钟 / 盟约 / 动作 / 战争 / 惊悚 / 伊凡·阿特金森 Ivan Atkinson / 马恩·戴维斯 Marn Davies / 盖·里奇 Guy Ritchie / 英语</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2026-03-09</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4767702056" >
            <div class="pic">
                <a title="The Penguin" href="https://movie.douban.com/subject/35604181/" class="nbg">
                    <img alt="The Penguin" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2911831149.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35604181/">
                            <em>企鹅人 第一季 / The Penguin Season 1</em>
                             / 新蝙蝠侠衍生剧集
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2024-09-19(美国) / 科林·法瑞尔 / 莱齐·费利兹 / 克里斯汀·米利欧缇 / 克兰西·布朗 / 索瑞·安达斯鲁 / 迪尔德丽·奥康奈尔 / 马克·斯特朗 / 斯科特·科恩 / 迈克尔·凯利 / 詹姆斯·马迪欧 / 美国 / 克雷格·佐贝尔 / 凯文·布雷 / 海伦·谢弗 / 詹妮弗·盖辛格 / 企鹅人 / 60分钟 / 企鹅人 / 剧情 / 犯罪 / 劳伦·莱弗朗茨 Lauren LeFranc / 弗拉迪米尔·茨韦特科 Vladimir Cvetko / 布里安娜·吉布森 Breannah Gibson / Erika L. Johnson Erika L. Johnson / 约翰·麦卡琴 John McCutcheon / 谢伊·奥邦纳 Shaye Ogbonna / 尼克·汤 Nick Towne / 诺埃尔·瓦尔迪维亚 Noelle Valdivia / 英语</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2026-02-11</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4767701799" >
            <div class="pic">
                <a title="Fallout" href="https://movie.douban.com/subject/35128081/" class="nbg">
                    <img alt="Fallout" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2928966667.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35128081/">
                            <em>辐射 第一季 / Fallout Season 1</em>
                             / 异尘余生(港/台)
                        </a>
                    </li>
                        <li class="intro">2024-04-10(美国) / 艾拉·珀内尔 / 阿伦·莫滕 / 沃尔顿·戈金斯 / 凯尔·麦克拉克伦 / 萨莉塔·乔德霍里 / 莫伊塞斯·阿里亚斯 / 戴夫·雷斯特 / 约翰尼·彭伯顿 / 克塞利亚·门德斯-琼斯 / 迈克尔·爱默生 / 美国 / 乔纳森·诺兰 / 丹尼尔·格雷·朗诺 / 克莱尔·基尔纳 / 弗雷德里克·E·O·托耶 / 韦恩·叶 / 辐射 / 60分钟 / 辐射 / 剧情 / 动作 / 科幻 / 冒险 / 查兹·霍金斯 Chaz Hawkins / 吉内瓦·德沃莱特-罗宾森 Geneva Robertson-Dworet / 格雷厄姆·瓦格纳 Graham Wagner / 基兰·菲茨杰拉德 Kieran Fitzgerald / 卡森·D·梅尔 Carson D. Mell / 卡莉·多内托 Karey Dornetto / 古尔西姆兰·桑德胡 Gursimran Sandhu / 英语</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2026-02-11</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4751519842" >
            <div class="pic">
                <a title="太平年" href="https://movie.douban.com/subject/36317421/" class="nbg">
                    <img alt="太平年" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2926587194.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36317421/">
                            <em>太平年</em>
                             / 化干戈为玉帛 / Swords into Plowshares
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2026-01-23(中国大陆) / 白宇 / 周雨彤 / 朱亚文 / 俞灏明 / 董勇 / 倪大红 / 保剑锋 / 郝平 / 蒋恺 / 尤勇智 / 中国大陆 / 杨磊 / 陆贝珂 / 45分钟 / 剧情 / 历史 / 古装 / 董哲 Zhe Dong / 汉语普通话</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2026-01-23</span>

                    </li>
                    <li>
                        <span class="comment">很垃圾，故事架构没有稳固就下一个人物强行推进，太乱了</span>
                        
                            <span class="pl">(3238 有用)</span>
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4750904304" >
            <div class="pic">
                <a title="小小的我" href="https://movie.douban.com/subject/36498717/" class="nbg">
                    <img alt="小小的我" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2916584640.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36498717/">
                            <em>小小的我</em>
                             / Big World
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2024-11-02(东京国际电影节) / 2024-12-27(中国大陆) / 易烊千玺 / 林晓杰 / 蒋勤勤 / 周雨彤 / 廖学秋 / 岳小军 / 李哲霆 / 张加丽 / 柏新亭 / 邹成勇 / 中国大陆 / 杨荔钠 / 131分钟 / 剧情 / 家庭 / 游晓颖 Xiaoying You / 汉语普通话</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2026-01-23</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4744534670" >
            <div class="pic">
                <a title="Death on the Nile" href="https://movie.douban.com/subject/27203644/" class="nbg">
                    <img alt="Death on the Nile" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2854856216.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27203644/">
                            <em>尼罗河上的惨案 / Death on the Nile</em>
                             / 尼罗河谋杀案(港/台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-02-11(美国) / 2022-02-19(中国大陆) / 肯尼思·布拉纳 / 盖尔·加朵 / 露丝·莱斯利 / 莱蒂希娅·赖特 / 艾玛·麦基 / 艾米·汉莫 / 珍妮弗·桑德斯 / 苏菲·奥康内多 / 安妮特·贝宁 / 妮基塔·查达哈 / 美国 / 英国 / 肯尼思·布拉纳 / 127分钟 / 尼罗河上的惨案 / 剧情 / 犯罪 / 悬疑 / 迈克尔·格林 Michael Green / 阿加莎·克里斯蒂 Agatha Christie / 英语</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2026-01-15</span>

                    </li>
                    <li>
                        <span class="comment">原著里的角色都是欧洲人与美国白人，这部剧充满了黑人。贵族爱上了黑人女仆，还有个黑人歌手。豆瓣评分是诚实的</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4515048145" >
            <div class="pic">
                <a title="Novocaine" href="https://movie.douban.com/subject/36618568/" class="nbg">
                    <img alt="Novocaine" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2916309843.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36618568/">
                            <em>无痛凯恩 / Novocaine</em>
                             / 无痛先生(台) / 无痛侠(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2025-03-13(中国香港) / 2025-03-14(美国) / 杰克·奎德 / 安柏·米德桑德 / 雷·尼科尔森 / 雅各布·贝塔隆 / 贝蒂·加布里埃尔 / 马特·沃尔什 / 康拉德·坎普 / 埃文·亨斯特 / 克雷格·杰克逊 / 小卢·比提 / 美国 / 加拿大 / 南非 / 罗伯特·奥尔森 / 丹·伯克 / 110分钟 / 无痛凯恩 / 喜剧 / 动作 / 惊悚 / 拉尔斯·雅各布森 Lars Jacobson / 英语</li>
                    <li>
                                <span class="rating3-t"></span>
                        <span class="date">2025-04-24</span>

                    </li>
                    <li>
                        <span class="comment">剧情结构很紧凑全程无尿点，但是看完之后却不记得故事情节了！</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4495245487" >
            <div class="pic">
                <a title="The Little Mermaid" href="https://movie.douban.com/subject/27601044/" class="nbg">
                    <img alt="The Little Mermaid" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2890188209.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27601044/">
                            <em>小美人鱼 / The Little Mermaid</em>
                             / 小鱼仙(港) / 小美人鱼真人版
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-05-26(美国/中国大陆) / 海莉·贝利 / 乔纳·豪尔-金 / 梅丽莎·麦卡西 / 哈维尔·巴登 / 戴维德·迪格斯 / 雅各布·特伦布莱 / 奥卡菲娜 / 诺玛·杜梅温尼 / 阿特·马里克 / 杰西·亚历山大 / 美国 / 罗伯·马歇尔 / 135分钟 / 小美人鱼 / 爱情 / 奇幻 / 冒险 / 歌舞 / 大卫·麦基 David Magee / 英语</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2025-04-01</span>

                    </li>
                    <li>
                        <span class="comment">女主角是被辐射污染了么？</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4492131820" >
            <div class="pic">
                <a title="Doctor Who" href="https://movie.douban.com/subject/35642159/" class="nbg">
                    <img alt="Doctor Who" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2911114339.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35642159/">
                            <em>神秘博士 第一季 / Doctor Who Season 1</em>
                             / 超时空奇侠(港/台) / 神秘博士2024
                        </a>
                    </li>
                        <li class="intro">2024-05-10(美国) / 2024-05-11(英国) / 舒提·盖特瓦 / 米莉·吉布森 / 大卫·田纳特 / 凯瑟琳·塔特 / 安吉拉·温特 / 安妮塔·多布森 / 吉克克斯·蒙索 / 阿奈林·巴纳德 / 雅斯敏·芬尼 / 乔纳森·格罗夫 / 英国 / 汤姆·金斯利 / 瑞秋·塔拉蕾 / 钱亚·波顿 / 本·切塞尔 / 迪伦·霍姆斯·威廉斯 / 马克·托德莱 / 朱莉·安妮·罗宾逊 / 神秘博士2024 / 60分钟 / 神秘博士 / 剧情 / 科幻 / 冒险 / 拉塞尔·T·戴维斯 Russell T. Davies / 凯特·赫伦 Kate Herron / 布里奥妮·瑞德曼 Briony Redman / 英语</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2025-03-28</span>

                    </li>
                    <li>
                        <span class="comment">令人恶心的一部电影，又某登时期政治正确的产物，电影中充斥了主角演技拙劣的黑人、同性恋、丑陋黑人女人、多性别者。这个时期的电影真的没有什么精品</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4490610451" >
            <div class="pic">
                <a title="The Day of the Jackal" href="https://movie.douban.com/subject/36323224/" class="nbg">
                    <img alt="The Day of the Jackal" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2916367228.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36323224/">
                            <em>豺狼的日子 第一季 / The Day of the Jackal Season 1</em>
                             / 豺狼的日子(剧版) / 财狼之日
                        </a>
                    </li>
                        <li class="intro">2024-11-07(美国) / 埃迪·雷德梅恩 / 拉什纳·林奇 / 乌苏拉·科尔维罗 / 楚克武迪·武吉 / 莉娅·威廉姆斯 / 本·霍尔 / 尼克·布拉德 / 理查德·多默 / 赫立德·阿卜杜拉 / 埃莉诺·松浦 / 英国 / 美国 / 布莱恩·柯克 / 安东尼·菲利普森 / 保罗·威尔姆斯赫斯特 / 阿努·梅农 / 豺狼的日子 / 60分钟 / 豺狼的日子 / 剧情 / 动作 / 犯罪 / 惊悚 / 罗南·贝内特 Ronan Bennett / 查尔斯·卡明 Charles Cumming / 希亚姆·波帕特 Shyam Popat / 杰西卡·辛亚德 Jessica Sinyard / 英语 / 西班牙语 / 德语 / 法语</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-03-27</span>

                    </li>
                    <li>
                        <span class="comment">老钱风充斥着整部剧</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4490609787" >
            <div class="pic">
                <a title="Snow White" href="https://movie.douban.com/subject/26908303/" class="nbg">
                    <img alt="Snow White" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2918741295.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26908303/">
                            <em>白雪公主 / Snow White</em>
                             / 白雪公主真人版 / 白雪公主和七个小矮人
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2025-03-21(美国/中国大陆) / 瑞秋·齐格勒 / 安德鲁·伯纳普 / 盖尔·加朵 / 安德鲁·巴特·费尔德曼 / 杰里米·斯威夫特 / 泰塔斯·伯吉斯 / 马丁·科勒巴 / 贾森·克拉维茨 / 乔治·萨拉萨尔 / 安迪·格罗特卢鲁申 / 美国 / 意大利 / 英国 / 马克·韦布 / 109分钟 / 白雪公主 / 剧情 / 爱情 / 奇幻 / 冒险 / 歌舞 / 艾琳·克雷斯达·威尔森 Erin Cressida Wilson / 英语 / 德语</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2025-03-27</span>

                    </li>
                    <li>
                        <span class="comment">最丑的公主，令人反胃</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4117142296" >
            <div class="pic">
                <a title="周處除三害" href="https://movie.douban.com/subject/36151692/" class="nbg">
                    <img alt="周處除三害" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2905021483.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36151692/">
                            <em>周处除三害 / 周處除三害</em>
                             / The Pig, the Snake, and the Pigeon
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-10-06(中国台湾) / 2024-03-01(中国大陆) / 阮经天 / 袁富华 / 陈以文 / 王净 / 谢琼煖 / 李李仁 / 刘子铨 / 曾珮瑜 / 陈秉佑  / 游安顺 / 中国台湾 / 黄精甫 / 134分钟 / 周处除三害 / 动作 / 犯罪 / 黄精甫 Ching-Po Wong / 汉语普通话 / 闽南语 / 粤语</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2024-03-06</span>

                    </li>
                    <li>
                        <span class="comment">《周处除三害》陌路枭雄展现出畅快淋漓的暴力美学</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4035087821" >
            <div class="pic">
                <a title="Indiana Jones and the Dial of Destiny" href="https://movie.douban.com/subject/3819860/" class="nbg">
                    <img alt="Indiana Jones and the Dial of Destiny" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2892683049.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3819860/">
                            <em>夺宝奇兵5：命运转盘 / Indiana Jones and the Dial of Destiny</em>
                             / 夺宝奇兵5 / 夺宝奇兵：命运轮盘(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-05-18(戛纳国际电影节) / 2023-06-30(美国/中国大陆) / 哈里森·福特 / 菲比·沃勒-布里奇 / 安东尼奥·班德拉斯 / 凯伦·阿兰 / 约翰·瑞斯-戴维斯 / 香奈特·芮妮·威尔逊 / 托马斯·克莱舒曼 / 托比·琼斯 / 波伊德·霍布鲁克 / 奥利维尔·里希特斯 / 美国 / 詹姆斯·曼高德 / 155分钟 / 夺宝奇兵5：命运转盘 / 动作 / 冒险 / 杰斯·巴特沃斯 Jez Butterworth / 约翰-亨利·巴特沃斯 John-Henry Butterworth / 大卫·凯普 David Koepp / 詹姆斯·曼高德 James Mangold / 英语 / 德语 / 古希腊语</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2023-12-26</span>

                    </li>
                    <li>
                        <span class="comment">看到80岁高龄的哈里森·福特还能继续出演印第安纳琼斯，实在太让人感动了。</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3753143331" >
            <div class="pic">
                <a title="中国乒乓之绝地反击" href="https://movie.douban.com/subject/30323380/" class="nbg">
                    <img alt="中国乒乓之绝地反击" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2887401308.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30323380/">
                            <em>中国乒乓之绝地反击</em>
                             / 中国乒乓 / Ping-pong of China
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-01-24(中国大陆点映) / 2023-02-17(中国大陆) / 邓超 / 孙俪 / 许魏洲 / 段博文 / 蔡宜达 / 丁冠森 / 孙浠伦 / 阿如那 / 吴京 / 梁超 / 中国大陆 / 邓超 / 俞白眉 / 2023-01-20 18:00 / 137分钟 / 剧情 / 运动 / 俞白眉 Baimei Yu / 孟晖 Hui Meng / 汉语普通话 / 日语 / 韩语 / 英语 / 意大利语 / 瑞典语</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2023-04-13</span>

                    </li>
                    <li>
                        <span class="comment">太烂了！浪费时间</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3579775519" >
            <div class="pic">
                <a title="无负今日" href="https://movie.douban.com/subject/35948358/" class="nbg">
                    <img alt="无负今日" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2875221531.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35948358/">
                            <em>无负今日</em>
                             / Today and Me
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-09-10(中国大陆网络) / 王劲松 / 乔振宇 / 刘芸 / 高伟光 / 曹磊 / 马书良 / 马跃 / 尹昉 / 艾东 / 孙茜 / 中国大陆 / 赵小鸥 / 赵小溪 / 60分钟 / 剧情 / 梁振华 Zhenhua Liang / 胡雅婷 Yating Hu / 汉语普通话</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2022-11-25</span>

                    </li>
                    <li>
                        <span class="comment">写屎尿屁的亲爹</span>
                        
                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="5">1</span>
                
            <a href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >2</a>
        
                
            <a href="/people/211396864/collect?start=30&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >3</a>
        
                
            <a href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >4</a>
        
                
            <a href="/people/211396864/collect?start=60&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >5</a>
        
        <span class="next">
            <link rel="next" href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/211396864/" class="side-info-avatar"><img height="48" width="48" alt="Mr. Frank L" src="https://img2.doubanio.com/icon/u211396864-1.jpg" /></a>
    <div class="side-info-txt">
        <h3>Mr. Frank L</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/211396864/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/211396864/">Mr. Frank L的电影主页</a>
        </p>
    </div>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2026 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
        
        
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.b2f60.css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <script type="text/javascript">
        var HTTPS_DB = "https://www.douban.com"
    </script>
    <script type="text/javascript" src="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.89db9.js"></script>

    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5dfbb6d6f7-4vv8g-->

  <script>_SPLITTEST=''</script>
</body>

</html>


