<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    Mr. Frank L看过的影视(65)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=movie" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.js" defer="defer"></script>




    


    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >选剧集</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2025/?fullscreen=1&dt_from=movie_navigation"
     >2025年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2025/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&df_from=web_navigation"
            target="_blank"
     >2025年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2025/?fullscreen=1&source=movie_navigation_logo" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/movie/bundle.js" defer="defer"></script>




    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/211396864/">
                <img height="48" width="48" alt="Mr. Frank L" src="https://img2.doubanio.com/icon/u211396864-1.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>Mr. Frank L看过的影视(65)</h1>
            <ul>
                    
        <li><a href="/people/211396864/">电影主页</a></li>
    
                    
        <li><a href="/people/211396864/reviews">影评</a></li>
    
                    
        <li><a href="/people/211396864/question">问答</a></li>
    
                    
        <li><a href="/people/211396864/do">在看</a></li>
    
                    
        <li><a href="/people/211396864/wish">想看</a></li>
    
                    
        <li><a href="/people/211396864/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/subject_doulists/movie">片单</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/211396864/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
            按时间排序<span class="gray-dot">·</span><a href="/people/211396864/collect?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="/people/211396864/collect?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/211396864/collect?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                61-65&nbsp;/&nbsp;65
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/211396864/collect?sort=time&amp;amp;start=60&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="2608434916" >
            <div class="pic">
                <a title="鹿鼎记" href="https://movie.douban.com/subject/30337662/" class="nbg">
                    <img alt="鹿鼎记" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2625740747.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30337662/">
                            <em>鹿鼎记</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-11-15(中国大陆) / 张一山 / 唐艺昕 / 张天阳 / 朱珠 / 杨祺如 / 郭泱 / 关芯 / 王伊瑶 / 钟丽丽 / 田雨 / 中国大陆 / 马进 / 45分钟 / 喜剧 / 武侠 / 古装 / 申捷 Jie Shen / 汉语普通话</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2020-11-21</span>

                    </li>
                    <li>
                        <span class="comment">想骂人</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2596400708" >
            <div class="pic">
                <a title="金刚川" href="https://movie.douban.com/subject/35155748/" class="nbg">
                    <img alt="金刚川" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2623301908.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35155748/">
                            <em>金刚川</em>
                             / Sacrifice / The Sacrifice
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-10-23(中国大陆) / 张译 / 吴京 / 李九霄 / 魏晨 / 邓超 / 欧豪 / 邱天 / 周思羽 / 刘显达 / 石昊正 / 中国大陆 / 管虎 / 郭帆 / 路阳 / 田羽生 / 122分钟 / 剧情 / 战争 / 管虎 Hu Guan / 汉语普通话 / 英语</li>
                    <li>
                                <span class="rating1-t"></span>
                        <span class="date">2020-11-11</span>

                    </li>
                    <li>
                        <span class="comment">一段故事用三个角度，画面不停重复，消费观影者，差评</span>
                        
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2213404291" >
            <div class="pic">
                <a title="中国机长" href="https://movie.douban.com/subject/30295905/" class="nbg">
                    <img alt="中国机长" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2568258113.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30295905/">
                            <em>中国机长</em>
                             / The Captain / The Chinese Pilot
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-09-30(中国大陆) / 2021-12-01(中国大陆重映) / 张涵予 / 欧豪 / 杜江 / 袁泉 / 张天爱 / 李沁 / 张雅玫 / 杨祺如 / 高戈 / 黄志忠 / 中国大陆 / 刘伟强 / 111分钟 / 剧情 / 传记 / 灾难 / 于勇敢 Yonggan Yu / 汉语普通话 / 藏语 / 英语 / 四川话</li>
                    <li>
                                <span class="rating3-t"></span>
                        <span class="date">2020-02-17</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2213403635" >
            <div class="pic">
                <a title="哪吒之魔童降世" href="https://movie.douban.com/subject/26794435/" class="nbg">
                    <img alt="哪吒之魔童降世" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26794435/">
                            <em>哪吒之魔童降世</em>
                             / 哪吒降世 / Ne Zha
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-07-13(大规模点映) / 2019-07-26(中国大陆) / 吕艳婷 / 囧森瑟夫 / 瀚墨 / 陈浩 / 绿绮 / 张珈铭 / 杨卫 / 何禹祥 / 任俊鹏 / 大海 / 中国大陆 / 饺子 / 110分钟 / 剧情 / 喜剧 / 动画 / 奇幻 / 饺子 Yu Yang / 易巧 Qiao Yi / 魏芸芸 Yunyun Wei / 汉语普通话</li>
                    <li>
                                <span class="rating3-t"></span>
                        <span class="date">2020-02-17</span>

                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2213398484" >
            <div class="pic">
                <a title="囧妈" href="https://movie.douban.com/subject/30306570/" class="nbg">
                    <img alt="囧妈" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2581835383.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30306570/">
                            <em>囧妈</em>
                             / 俄囧 / Lost in Russia
                        </a>
                    </li>
                        <li class="intro">2020-01-25(中国大陆网络) / 徐峥 / 黄梅莹 / 袁泉 / 郭京飞 / 黄景瑜 / 贾冰 / 高以翔 / 沈腾 / 宋小宝 / 黄渤 / 中国大陆 / 徐峥 / 126分钟 / 喜剧 / 何可可 Keke He / 布鲁鲁夫 Bululufu / 何一禾 Yihe He / 徐峥 Zheng Xu / 汉语普通话 / 俄语 / 英语</li>
                    <li>
                                <span class="rating2-t"></span>
                        <span class="date">2020-02-17</span>

                    </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/211396864/collect?start=0&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >1</a>
        
                
            <a href="/people/211396864/collect?start=15&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >2</a>
        
                
            <a href="/people/211396864/collect?start=30&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >3</a>
        
                
            <a href="/people/211396864/collect?start=45&amp;sort=time&amp;type=all&amp;filter=all&amp;mode=grid" >4</a>
        
                <span class="thispage" data-total-page="5">5</span>
        <span class="next">
            后页&gt;
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/211396864/" class="side-info-avatar"><img height="48" width="48" alt="Mr. Frank L" src="https://img2.doubanio.com/icon/u211396864-1.jpg" /></a>
    <div class="side-info-txt">
        <h3>Mr. Frank L</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/211396864/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/211396864/">Mr. Frank L的电影主页</a>
        </p>
    </div>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2026 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
        
        
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.b2f60.css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <script type="text/javascript">
        var HTTPS_DB = "https://www.douban.com"
    </script>
    <script type="text/javascript" src="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.89db9.js"></script>

    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5dfbb6d6f7-c4xgc-->

  <script>_SPLITTEST=''</script>
</body>

</html>


